<!DOCTYPE html>
<html>
<head>
    <title>Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div id="tasks">
            <div>
                <div v-show="inProgress.length">
                <h1>Tasks ({{inProgress.length}})</h1>
                </div>
                <ol class="list-group">
                    <li v-for="task in inProgress"
                        class="list-group-item"
                    >
                        <span @dblclick="editTask(task)">{{task.body}}</span>
                        <button @click="removeTask(task)">&#10007</button>
                        <button @click="toggleTaskCompletion(task)">&#10004</button>
                    </li>
                </ol>
            </div>
            <form @submit="addTask">
                <div class="form-group">
                    <input  v-model="newTask"
                            ref="newTask"
                            class="form-control"
                            placeholder="I need to..."
                    >
                </div>
                <button class="btn btn-primary">Add Task</button>
                <button class="btn btn-default"
                        @click="completeAll"
                >Mark All As Completed?</button>
            </form>
            <div v-if="completions.length">
                <h2>Completed ({{completions.length}})</h2>
                <ol class="list-group">
                    <li v-for="task in completions"
                        class="list-group-item"
                    >
                        {{task.body}}
                        <button @click="toggleTaskCompletion(task)">&#10007</button>
                    </li>
                </ol>
                <button class="btn btn-danger"
                        @click="clearCompleted"
                >Clear Completed</button>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-beta.6/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>